@use 'mixins' as *;
@use 'variables' as *;

// Section: customize
section#customize {
    background-color: #fff;
    color: $grey;

    h2 {
        width: 50%;
    }

    p {
        color: #000;
        width: 90%;
    }
}

#customize article {
    text-align: left;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #cccccc;
    padding: 1rem;

    img {
        width: 60%;
        margin: 0.5rem;
    }


    .wave{
        background-image: url(/images/wave-blue-dark.png);
        @include wave;
        bottom: -5px;
        width: 100%;
        background-size: 120% 80%;
        height: 140px;
        overflow: hidden;
    }
}

@media(min-width:48em){
    section#customize {
        .wave{
            width:100%;
            background-size: 110% 100%;
        }
    }
    
    
}