// FOOTER ----------------------------------------------------------
@use 'mixins' as *;
@use 'variables' as *;


footer {
    background-color: $mediumblue;        
    color: #fff;
    font-family: $condensedFont;
    text-transform: uppercase;
    text-align: center;
    padding: 0 1rem 1rem 1rem;

    .vulcan-logo {
        margin: 1rem auto;
    }

    .footer-content {

        ul {
            font-size: 0.75rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    
        p {
            font-size: 0.75rem;
            margin: 0.5rem 0;
        }
    }
}

@media (min-width: 48em){
    footer {
        display: flex;
        align-items: center;

        .vulcan-logo {
            width: 150px;
            margin: 0 auto 2rem;
        }

        .footer-content {
            width: 60%;
        }
    }
}

@media (min-width: 64em){
    .footer-content {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}

// FONTELLO -------------------------------------------------------
// code from fontello
@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?59188457');
    src: url('../fonts/fontello.eot?59188457#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff2?59188457') format('woff2'),
         url('../fonts/fontello.woff?59188457') format('woff'),
         url('../fonts/fontello.ttf?59188457') format('truetype'),
         url('../fonts/fontello.svg?59188457#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    // speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .4em;
    text-align: center;
    color: white;
  
    // For safety - reset parent styles, that can break glyph codes
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
  
    // Font smoothing. That was taken from TWBS
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-phone-circled:before { content: '\e800'; }
  .icon-mail-circled:before { content: '\e801'; }