// SECTIONS: INSTALL & SPEC
@use 'mixins' as *;
@use 'variables' as *;


div#install-spec {
    position: relative;
    overflow: hidden;
    
    h2 {
        width: 60%;
    }

    section#install {
        background: url(../images/map.jpg);
        background-size: cover;
        background-position: center;
        color: $grey; 
        padding: 7rem 0;   
    
        .box-link {
            border: 1px solid $grey;
            color: $grey;
        }
    }

    section#spec {
        color: #fff;
        position: relative;
        padding: 4rem 0 7rem;
    }

    .wave {
        @include wave;
        background-image: url(/images/wave-blue-light.png);
        bottom: -5%;
    }
}

@media (min-width: 48em) {
    div#install-spec {
        display: flex;
        flex-direction: row-reverse;
    
        section#install, section#spec {
            width: 50%;
            padding: 5rem 0 8rem;
        
            .box-link {
                @include box-link;
                background-color: $mediumblue;
                border: none;
            }
        }

        .wave {
            @include wave;
            width: 100%;
            background-size: 120% 90%;
        }
    }
}

@media (min-width: 64em){
    div#install-spec {
        h2 {
            max-width: 16rem;
            margin: 0 auto 2rem;
        }
    }
}
