// SECTIONS: INSTALL & SPEC
@use 'mixins' as *;
@use 'variables' as *;

div#install-spec {
    position: relative;
    overflow: hidden;
    
    .wave {
        @include wave;
        background-image: url(/images/wave-blue-light.png);
    }

    h2 {
        width: 60%;
    }
}

section#install {
    background: url(../images/map.jpg);
    background-size: cover;
    background-position: center;
    color: $grey; 
    padding: 7rem 0;   

    .box-link {
        @include box-link;
        border: 1px solid $grey;
        color: $grey;
    }
}

section#spec {
    color: #fff;
    position: relative;
    padding: 4rem 0 9rem;

    h2 {
        margin: 0 auto 2rem;
    }

}



