// SECTION: MEDIA (Vimeo video)
@use 'mixins' as *;
@use 'variables' as *;

section#media {
    background-color: $mediumblue;
    padding: 4rem;
    margin: 0 auto;

    div {      
        border: 0.75rem solid $darkblue;
        background-color: green;
        width: 220px;
        height: 130px;

        iframe {
            height: 100%;
            width: 100%;
        }
    }
}

@media (min-width: 48em){
    section#media div {
        height: 360px;
        width: 600px;
    }
}