// SECTION: MEDIA (Vimeo video)
@use 'mixins' as *;
@use 'variables' as *;


section#media {
    background-color: $mediumblue;

    iframe {
        border: 1rem solid $darkblue;
        height: 100%;
        background-color: green;
        margin: 0 auto;
    }

}