// specific re-usable stylings

// styles the link-buttons that have a border
@mixin box-link {
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.75rem 0.5rem;
    width: fit-content;
}