@use 'variables' as *;

//Header styles



// Top-bar styles
.top-bar {
    display: flex;
    justify-content: space-between;
    background-color: $lightgrey;
    padding: 0.5rem;
    position: relative;
    z-index: 200;
    
}

.top-nav-block {
    display: none;
}

// Hamburger menu animation


.hamburger-menu {

    display: block;
	background-color: transparent;
	width: 55px;
	border-style: none;
    position: relative;
    

    &:before, &:after {
        background-color: white;
        content: '';
        display: block;
        height: 4px;
        transition: all 200ms ease-in-out;

    }

    &:before {
        box-shadow: 0 10px 0 white;
	    margin-bottom: 16px;
    }
}
  
.hamburger-menu.clicked {
    &:before {
        box-shadow: 0 0 0 white;
	    transform: translateY(10px) rotate(45deg);
        
    }

    &:after {
        transform: translateY(-10px) rotate(-45deg);
    }
}

/* Navigation styles */

#main-navigation{
    
	position: absolute;
    left: 0;
	right: 0;
    font-family: $condensedFont;
    font-size: 1.2rem;
    overflow: hidden;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    z-index: 200;

    .main-nav-block {
        
        text-align: left;
        margin: 0;
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
        
        a {
            display: block;
            padding: 0.3rem 1rem;
        }
    
    }
       
}

#main-navigation.open {
    background-color: $lightgrey;
   
    .main-nav-block {
        transform: translateY(0);
        
    }
}


@media (min-width:48em){

    
    .hamburger-menu {
        display: none;
    }

    .top-bar {
        position: absolute;
        background-color: transparent;
        left: 0;
        right: 0;
        top: 2rem;
        margin:auto;
        padding: 0.5rem;

        img {
            display: block;
            width: 160px;
            margin: auto;
        }
    }

    #main-navigation {
        overflow: visible;
        transition: none;
        
        
        .main-nav-block {
            transform: translateY(0);
            position: absolute;
            max-width: 43.75rem;
            top: 6rem;
            left: 0;
            right: 0;
            transition: none;
            display: flex;
            justify-content: space-around;
            background-color:$lightgrey;
            margin: 2rem auto;
            padding: 0.5rem;

    
            li:nth-last-child(2),li:nth-last-child(1) {
                display: none;
            } 
                
        }

       .top-nav-block, .left-nav-block, .right-nav-block {
            display: flex;
        }

        .top-nav-block{
            max-width: 43.75rem;
            margin: auto;
            justify-content: space-between;
        }
        
        .left-nav-block, .right-nav-block {
            gap:2rem;
            padding:1rem 0;
        }

        
    }
}

@media (min-width: 80em){

    #main-navigation{

        .top-nav-block{
            max-width:95%;
            
        }
    }
}
    
