// SECTION: NEWSLETTER

section#newsletter {
    background-color: $lightblue;
    padding: 1rem 0.5rem;

    form {
        label {
            font-family: $condensedFont;
            color: #244a64;
            font-size: 1.1rem;
            display: block;
        }

        div {
            display: flex;
            justify-content: space-between;
            
        }

        input {
            padding: 0.25rem 0.75rem;
        }

        input[type="submit"]{
            background-color: $mediumblue;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            border: none;
        }
    }
}