// Place your Sass imports here...
@use 'mixins' as *;
@use 'fonts' as *;
@use 'navigation';
@use 'footer';


$darkblue: #154a66;
$mediumblue: #009ddc;
$lightblue: #bedcef;
$grey: #504f4f;

// TYPOGRAPHY --------------------------------------------------------
body {
    font-family: $regularFont;
    font-size: 1rem;
    line-height: 1.2;
    background-color: $darkblue;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $condensedFont;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0.25rem;
}

h1 {
    font-weight: 700;
    color: #fff
}

p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

a, a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    background-color: $mediumblue;
}

// GENERAL ELEMENTS --------------------------------------------------
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem 0.5rem;
    position: relative;

    a {
        @include box-link;
    }
}

div.wave {
    @include wave;
}

// HEADER --------------------------------------------------
header {
    background: url(../images/header-slider-img-03.jpg);
    background-position: center;
    background-size: cover;
    padding: 0.5rem;
}

// Section: hero 
section#hero {
    gap: 1rem;

    h1 {
        margin: 3rem auto;
    }

    .box-link {
        font-weight: 400;
    }
}

// SPECIFIC SECTIONS ------------------------------------------------
// Section: customize
section#customize {
    background-color: #fff;
    color: $grey;

    h2 {
        width: 50%;
    }

    p {
        color: #000;
        width: 90%;
    }

    .wave {
        background-image: url(../images/wave-blue-dark.png);
    }
}

#customize article {
    text-align: left;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #cccccc;
    padding: 1rem;

    img {
        width: 60%;
        margin: 0.5rem;
    }
}

#customize:last-child {
    border-bottom: none;
}

// Section: product-advisor
section#product-advisor {
    color: #fff;
    
    form {
        border-top: 1px solid #fff;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1.5rem 0;

        label {
            align-self: flex-start;
            margin: 1rem 0 0.5rem;
            font-family: $condensedFont;
            font-weight: 700;
        }

        select, input {
            padding: 0.75rem;
        }

        input[type="submit"]{
            background-color: $mediumblue;
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            border: none;
            margin: 3rem 0;
        }
    }
}

// Section: about
section#about {
    background-image: url(../images/bg-section-about-us.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    
    p {
        width: 80%;
        margin: 2rem;
    }

    .box-link {
        padding: 0.75rem 1.5rem;
    }
}

// Section: media
//fix size and spacing
section#media {
    background-color: $mediumblue;

    iframe {
        border: 1rem solid $darkblue;
        height: 100%;
        background-color: green;
        margin: 0 auto;
    }

}

// Section: newsletter
section#newsletter {
    background-color: $lightblue;
    padding: 1rem 0.5rem;

    form {
        label {
            font-family: $condensedFont;
            color: #244a64;
            font-size: 1.1rem;
            display: block;
        }

        div {
            display: flex;
            justify-content: space-between;
            
        }

        input {
            padding: 0.25rem 0.75rem;
        }

        input[type="submit"]{
            background-color: $mediumblue;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            border: none;
        }
    }
}

div#install-spec {
    padding: 0 0 3rem;
    position: relative;
    overflow: hidden;
    padding: 0 0 5rem;

    .wave {
        background-image: url(../images/wave-blue-light.png);
    }
}

section#install {
    background: url(../images/map.jpg);
    background-size: cover;
    background-position: center;
    color: $grey;    

    .box-link {
        border: 1px solid $grey;
        color: $grey;
    }
}

section#spec {
    color: #fff;
    position: relative;

    h2 {
        width: 60%;
        margin: 0 auto 2rem;
    }
}



